tensorflow>= 2.18.0
scikit-learn>=1.6.0
torch>=2.5.1
numpy>=1.26.4
opencv-python>=4.10.0.84
matplotlib>=3.10.0
mediapipe>=0.10.20
joblib>=1.4.2
pandas>=2.2.3
flask>=3.1.0
flask-socketio>=5.5.0
flask-cors>=5.0.0